
body{
  margin: 0;
}

header{
  height: 100px;
  background-image: url(../img/pattern.png);
  background-color: rgba(81, 81, 255, 0.684);
}

h2{
  color: white;
  font-size: 50px;
}

h1{
  font-size: 50px;
}

.intro{
  font-size: 20px;
  font-weight: bold;
}

.grigio{
  color: rgb(143, 143, 143);
}

.celeste{
  color: rgb(97, 192, 250);
}

.evidenziato{
  background-color: yellow;
}


/*INIZIO modifiche alla tabella */
.grandezza-cella{
  width: 300px;
}

.grandezza-cella.descrizione{
  width: 800px;
}

thead{
  background-color: rgb(25, 178, 255);
  text-align: left;
}

th{
  color: white;
}

.riga-colorata{
  background-color: rgb(130, 236, 255);
}

/*FINE modifiche alla tabella */
