

/* INIZIO Header */
header{
  height: 150px;
  background-image: url(../img/pattern.png);
  background-color: rgba(81, 81, 255, 0.684);
  background-size: contain;
}

.logo{
  width: 400px;
  height: 220px;
}

/* FINE Header */


h1{
  font-size: 50px;
}

.intro{
  font-size: 20px;
  font-weight: bold;
}

.grigio{
  color: rgb(143, 143, 143);
}

.celeste{
  color: rgb(97, 192, 250);
}

.evidenziato{
  background-color: yellow;
}


/*INIZIO modifiche alla tabella TERZA Sezione */
.grandezza-cella{
  width: 300px;
}

.grandezza-cella.descrizione{
  width: 800px;
}

thead{
  background-color: rgb(25, 178, 255);
  text-align: left;
}

th{
  color: white;
}

.riga-colorata{
  background-color: rgb(130, 236, 255);
}

/*FINE modifiche alla tabella TERZA Sezione*/


.imgfooter1{
  background-image: url(../img/monitor.jpg);
}

.imgfooter2{
  background-image: url(../img/graph.jpg);
}

.imgfooter1, .imgfooter2{
  width: 200px;
  height: 150px;
  color: white;
  font-size: 20px;
  background-size: cover;
}
